img.card-img2 {
    margin-right: 20px;
    overflow: hidden;
    max-width: 110px;
    border-radius: 10px;
    transition: all 0.4s;
}
img.card-img2:hover {
  transform: scale(1.05);
  width: 100%;
}
.p-wrap {
    border-radius: 10px;
    padding: 30px 25px;
    box-shadow: 0 0 64px rgb(17 17 17 / 10%);
}
@media screen and (max-width: 1024px) {
  .popular-card-wrap.d-flex.align-items-center.mb-4 {
    display: grid !important;
    margin-bottom: 20px !important;
}
}
/* @media only screen and (max-width: 576px) and (max-width:375px) { */

@media screen and (max-width: 576px) and (min-width:375px) {
  .popular-card-wrap.d-flex.align-items-center.mb-4 {
    display: flex !important;
    flex-direction: row !important;
}
}