.about-wrapper-left .about-img1 {
  display: inline-block;
  margin-bottom: 10px;
  float: right;
  border: 10px solid rgba(48, 79, 71, 0.1);
  
}
.about-wrapper-left .about-img2 {
  position: relative;
  display: inline-block;
  border: 10px solid rgba(48, 79, 71, 0.1);
}
.section-head.head-left {
  text-align: left;
  margin: 0;
}
.section-head {
  /* text-align: center; */
  max-width: 516px;
  /* margin: 0 auto; */
}
.section-head h5 {
  margin-bottom: 15px;
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ff7f47;
}
.section-head h2 {
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-transform: capitalize;
}
.about-wrapper .about-wrapper-right  p {
  margin: 25px 0;
}
.about-wrapper-right ul li {
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  color: #a5a5a5;
}
.about-wrapper-right ul li i {
  font-size: 18px;
  color: #262339;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .about-img1 > img , .about-img2 > img{
    width:100%;
  }
  .about-wrapper-right.section-head.head-left p{
    font-size: 12px;
  }
}