.bookDetails{
    /* box-shadow: 0px 0px 14px 1px #ff7f47; */
    border-radius: 6px;
    padding: 20px 30px;
    background:#f0936c;
    width: 95%;
    margin: 25px 0;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    min-height: 230px;
}
.details-top{
    display: flex;
    justify-content: space-between;
}
.details-top img{
    height: 50px;
    background-color: lightgray;
}
.bookDetails h4{
    color: #fff;
    font-weight: 600;
    margin: 25px 0 15px;
}
.bookDetails h5{
    color: #fff;
    font-weight: 500;
}
.details-top span {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #304f47;
}