.form{
    flex-basis: 47%;
}
.form label{
    margin-top: 10px;
    color: #003049 ;
    font-family: 'Poppins',sans-serif !important;
}

.add-form{
    padding: 30px 60px;
    width: 90%;
    margin:auto
}
.form-bg{
    background-color: white;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 1px lightgray;
}
