section.banner-bg {
  background-image: linear-gradient(
      rgba(48, 79, 71, 0.6),
      rgba(48, 79, 71, 0.6)
    ),
    url(../../../image/banner-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  z-index: 100;
}
.header-main h1 {
  letter-spacing: -0.04em;
  color: #ff7f47;
  text-transform: none;
  font-size: 72px;
  line-height: 1.2;
  margin-bottom: 0.25em;
  letter-spacing: -0.04em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.header-main h5 {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 0.23em;
  letter-spacing: -0.04em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.header-main {
  z-index: 9999;
}
button.support-btn {
  display: inline-block;
  padding: 16.5px 32.5px;
  background: #304f47;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  border: none ;
  color: #fff;
  position: relative;
  z-index: 9;
}
button.support-btn::before {
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
  background: #ff7f47;
  top: 0;
  left: 0;
  border-radius: 5px;
  -webkit-clip-path: circle(27% at -3% 50%);
  clip-path: circle(27% at -3% 50%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: -1;
}
button.support-btn:hover{
    background: #ff7f47;
    clip-path: circle(150% at 0% 0%);
    transition:0.4s;
}
button.support-btn:hover::before{
    -webkit-clip-path: circle(150% at 0% 0%);
    clip-path: circle(150% at 0% 0%);
}