.support-bg{
    background-color: #304F47;
}
.support-color{
    color:#304F47;
}
.support-color2{
    color:#FF7F47;
}
.social-icon-header.icon-img :hover{
    color:#fff !important;
}
.social-icon-header{
    height: 100%;
}